/* Button */
.button {
    &_menu {
        font-size: 0;
        line-height: 0;
        background-color: transparent;
        border: 0;
        width: 22px;
        height: 14px;
    }

    &-book {
        width: 200px;
        height: 50px;
        border: 0;
        border-radius: 25px;
        font-family: 'Roboto-Bold', sans-serif;
        font-size: 1rem;
        font-weight: 600;
        background-color: var(--white);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10%;
        cursor: pointer;
    }
}

@media (min-width: $tablet-width) {
    .button {
        &_menu {
            display: none;
        }
    }
}
