/* Container */
.container {
    width: 290px;
    margin: 0 auto;

    &_header {
        width: 90%;
        min-height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &_main {
        background-color: var(--main);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, min-content);
        grid-row-gap: 2rem;
    }

    &_promo {
        min-height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    &_contacts {
        width: 100%;
        background-color: var(--yellow);
    }

    &_action {
        min-height: 496px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        padding-top: 2rem;
    }

    &_form {
        width: 290px;
    }
}

@media (min-width: $tablet-width) {
    .container {
        width: 678px;

        &_header {
            width: 88%;
            min-height: 76px;
        }

        &_main {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(4, min-content);

            &-catalog {
                padding-top: 60px;
            }
        }

        &_contacts {
            width: 100%;
            display: flex;
        }

        &_action {
            min-height: 359px;
            align-items: flex-start;
            padding-left: 50px;
        }
    }
}

@media (min-width: $pc-width) {
    .container {
        width: 1170px;

        &_header {
            width: 1170px;
            min-height: 76px;
        }

        &_main {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(5, min-content);
        }

        &_action {
            padding-left: 270px;
            padding-top: 5rem;
        }

        &_promo {
            align-items: flex-start;
            padding-left: 200px;
        }

        &_contacts {
            width: 100%;
        }
    }
}
