/* Container */
.container {
    margin: 0 auto;

    &_header {
        width: 90%;
        min-height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &_promo {
        min-height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width: $tablet-width) {
    .container {
        width: 678px;

        &_header {
            width: 88%;
            min-height: 76px;
        }
    }
}

@media (min-width: $pc-width) {
    .container {
        width: 1170px;

        &_header {
            width: 85%;
            min-height: 76px;
        }

        &_promo {
            align-items: flex-start;
            padding-left: 200px;
        }
    }
}
