.container {
    width: 90.625%;
    margin: 0 auto;

    &_header {
        min-height: 62px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &_header-menu {
        padding-top: 10px;
        height: inherit;
        display: grid;
        grid-template-rows: 1fr 3fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    &_present {
        height: 354px;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &_whyus {
        flex-direction: column;
        align-items: center;
    }

    &_contacts {
        margin: 0;
        flex-direction: column;
        padding-top: 30px;
        margin-bottom: 25px;
    }

    &_catalog {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr .3fr auto;
        grid-template-areas: "title title title title"
            "filter filter select select"
            "catalog catalog catalog catalog";
        padding-top: 34px;
    }

    &_cheks {
        position: relative;
        margin-bottom: 20px;
    }

    &_cheks input:checked~.checkmark {
        background-image: url(../img/check.svg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    &_inputs {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &_card {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &_filter {
        position: relative;
        width: 290px;
        padding-top: 20px;
    }

    &_submits {
        display: flex;
        flex-direction: column;
    }

    &_footer {
        flex-direction: column;
    }
}

@media screen and (min-width: 768px) {
    .container {
        &_header {
            width: 680px;
        }

        &_whyus {
            padding-top: 0;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }

        &_contacts {
            margin: 0;
            padding: 0;
            width: 100%;
            flex-direction: row;
        }

        &_catalog {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr auto;
            grid-template-areas: "title title filter select"
                "catalog catalog catalog catalog";
        }

        &_footer {
            width: 678px;
            padding-top: 10px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
}

@media screen and (min-width: 1366px) {
    .container {
        &_header {
            width: 1170px;
        }

        &_present {
            width: 1366px;
            margin: 0 auto;
            align-items: flex-start;
            padding-left: 197px;
        }

        &_whyus {
            width: 1170px;
        }

        &_footer {
            width: 970px;
        }
    }
}