/* Icon */
.icon {

    &_logo,
    &_footer {
        width: 46px;
        height: 38px;
    }

    &_footer {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    &_menu {
        width: 22px;
        height: 14px;
    }

    &_button {
        width: 36px;
        height: 36px;
    }

    &_features {
        width: 60px;
        height: 60px;
    }

    &_social {
        width: 24px;
        height: 24px;
    }

    &_cat {
        width: 27px;
        height: 49px;
    }

    &_equipment {
        width: 18px;
        height: 18px;
    }

    &_filtre {
        width: 12px;
        height: 15px;
    }

    &_form {
        width: 30px;
        height: 30px;
        grid-column: 2/3;
        grid-row: 1/2;
    }
}

@media (min-width: $pc-width) {
    .icon {
        &_form {
            display: none;
        }
    }
}
