.icon {
    &-logo {
        width: 46px;
        height: 38px;
    }

    &-burger {
        width: 38px;
        height: 26px;
        cursor: pointer;
    }

    &_whyus {
        width: 60px;
        height: 60px;
        margin-bottom: 20px;
    }

    &_contacts {
        width: 24px;
        height: 24px;
    }

    &_map {
        width: 27px;
        height: 49px;
    }
}

@media screen and (min-width: 768px) {
    .icon {
        &-logo {
            width: 63px;
            height: 52px;
        }

        &-burger {
            display: none;
        }

        &_whyus {
            width: 75px;
            height: 75px;
        }
    }
}

@media screen and (min-width: 1366px) {
    .icon {
        &_whyus {
            width: 91px;
            height: 91px;
            margin-bottom: 25px;
        }

        &_map {
            width: 32px;
            height: 58px;
        }
    }
}