/* Icon */
.icon {
    &_logo {
        width: 46px;
        height: 38px;
    }

    &_menu {
        width: 22px;
        height: 14px;
    }

    &_button {
        width: 36px;
        height: 36px;
    }

    &_features {
        width: 60px;
        height: 60px;
    }

    &_social {
        width: 24px;
        height: 24px;
    }

    &_cat {
        width: 27px;
        height: 49px;
    }
}
