.link {
    &_header {
        @include font(Rubik, 20px, 500, normal, 23px, #1a212f);
        text-decoration: none;
        line-height: 40px;
    }

    &_footer {
        @include font(Lato, 16px, 600, normal, 34px, #1a212f);
        text-decoration: none;
    }
}

@media screen and (min-width: 768px) {
    .link {
        &_header {
            @include font(Lato, 16px, 600, normal, 19px, #1a212f);
            height: inherit;
            display: flex;
            align-items: center;
        }
    }
}