/* List */
.list {
    &_menu {
        display: none;
    }

    &_features {
        background-color: var(--main);
        padding-top: 50px;
    }

    &__item {
        &_features {
            width: 90%;
            margin: 0 auto;
            min-height: auto;
            background-color: var(--white);
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 20px;
            padding: 25px;
            margin-bottom: 30px;
        }
    }
}

@media (min-width: $tablet-width) {
    .list {
        &_menu {
            width: 60%;
            display: flex;
            justify-content: space-between;
        }

        &_features {
            display: flex;
            flex-wrap: wrap;
        }

        &__item {
            &_features {
                flex-basis: 324px;
            }
        }
    }
}

@media (min-width: $pc-width) {
    .list {
        &_menu {
            width: 40%;
        }

        &__item {
            &_features {
                flex-basis: 370px;
            }
        }
    }
}
