/* List */
.list {
    &_menu {
        display: none;
    }

    &_rooms {
        width: 100%;
    }

    &_features {
        background-color: var(--main);
        padding-top: 50px;
    }

    &_sort {
        position: absolute;
    }

    &_footer {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        &_features {
            width: 90%;
            margin: 0 auto;
            min-height: auto;
            background-color: var(--white);
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 20px;
            padding: 25px;
            margin-bottom: 30px;
        }

        &_sort {
            display: flex;
            justify-content: flex-start;
            gap: 0.5rem;
            background-color: var(--white);
            cursor: pointer;
        }

        &_rooms {
            display: flex;
            justify-content: space-between;
            font-size: 0.95rem;
        }

        &_footer {
            flex-basis: 40%;
        }
    }
}

@media (min-width: $tablet-width) {
    .list {
        &_menu {
            width: 60%;
            display: flex;
            justify-content: space-between;
        }

        &_features {
            display: flex;
            flex-wrap: wrap;
        }

        &_footer {
            grid-column: 2/4;
            grid-row: 1/2;
            flex-wrap: no-wrap;
            justify-content: space-between;
        }

        &__item {
            &_features {
                flex-basis: 324px;
            }

            &_footer {
                flex-basis: 25%;
                text-align: end;
            }
        }
    }
}

@media (min-width: $pc-width) {
    .list {
        &_menu {
            width: 40%;
        }

        &__item {
            &_features {
                flex-basis: 370px;
            }

            &_rooms {
                font-size: 0.8rem;
            }
        }
    }
}
