.nav {
    &_header {
        display: none;
        padding-top: 20px;
    }

    &_footer {
        padding-top: 10px;
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 768px) {
    .nav {
        &_header {
            display: block;
            width: 400px;
        }

        &_footer {
            width: 430px;
        }
    }
}

@media screen and (min-width: 1366px) {
    .nav {
        &_footer {
            width: 430px;
        }
    }
}