.scrolling {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-top: 50px;

    &__item {
        flex: 0 0 auto;
        width: 290px;
        min-height: 230px;
        margin-left: 20px;
    }

    &__text {
        margin-left: 10px;
    }
}
